body{
    background-color: #D1BF91;
    display:flex;
    flex-direction:column;
    min-height:100vh;
}

header{
    background-color:#C7C8C4;
    color: #A6341B;
    font-family:fantasy;
    border:thick solid #60371E;
    padding-left:10px;
}

main{
    background-color:#C7C8C4;
    border: thin solid #60371E;
    padding-left: 5px;
    padding-bottom: 5px;
}

p{
    color:#60371E;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    background-color: #C7C8C4;
    color: #A6341B;
    font-family: fantasy;
    margin-top: 0px;
}

button{
    background-color:#60371E;
    color:#F9C743;
    width:10%;
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    color:#60371E;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    background-color: #C7C8C4;
    margin-top:auto;
    border: thin solid #60371E;
}

a{
    color:#A6341B;
}